# (c) Copyright 2017-2019 Hewlett Packard Enterprise Development LP

# m h   dom mon dow   command
# recreate index file every 15 min (hack for any volume changes)
*/15 *   *   *   *     cp /container-index.html > /var/www/html/index.html
# generate 7 day stats every 15 min
*/15 *   *   *   *     /usr/local/bin/zing_stats -l /dev/stderr -o /var/www/html --projects /projects.json
# generate 30 day stats every hour
0   */1 *   *   *     /usr/local/bin/zing_stats -r 720 -l /dev/stderr -o /var/www/html --projects /projects.json
# generate 60 day stats every day
15   2  *   *   *     /usr/local/bin/zing_stats -r 1440 -l /dev/stderr -o /var/www/html --projects /projects.json
# generate 90 day stats every day
15   3  *   *   *     /usr/local/bin/zing_stats -r 2160 -l /dev/stderr -o /var/www/html --projects /projects.json
