appdirs==1.4.3
decorator==4.0.11
enum34==1.1.6
functools32==3.2.3.post2
ipython-genutils==0.2.0
Jinja2==2.9.6
jsonschema==2.6.0
jupyter-core==4.3.0
MarkupSafe==1.0
nbformat==4.3.0
numpy==1.13.0
packaging==16.8
pandas==0.20.2
plotly==2.0.10
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2017.2
PyYAML==3.12
requests==2.18.1
six==1.10.0
traitlets==4.3.2
